@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@font-face {
    font-family: 'great_vibesregular';
    src: url('greatvibes-regular-webfont.woff2') format('woff2'),
         url('greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
}

container-fluid {
    background-color: #F7D1C0;
    border: 10px solid #C1F4EA;
    border-radius: 100%;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 55%;

    & h1 {
        color: rgb(247, 255, 255);
        font-family: 'Bowlby One SC', cursive;
        font-size: 4rem;
        font-weight: bolder;
        position: absolute;
        text-shadow:
		    -1px -1px 0 #000,
		    1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000;
        transform: translate(-50%, -50%);
        transform: rotate(-9deg);

        &.chunk-one {
            right: 5%;
            top: 20%;
            width: 100%;
            transform: rotate(-8deg);
        }
        &.chunk-two {
            top: 40%;
            width: 100%;
        }

        &.chunk-three {
            font-family: 'GreatVibesRegular';
            font-size: 9em;
            font-weight: bold;
            left: 18%;
            letter-spacing: 2rem;
            top: 61%;
            animation: glow 1s ease-in-out infinite alternate;

            @keyframes glow {
                from {
                  text-shadow: 0 0 10px #7FF4DD, 0 0 15px #7FF4DD, 0 0 20px #9AF4E2, 0 0 25px #9AF4E2, 0 0 30px #9AF4E2, 0 0 35px #9AF4E2, 0 0 70px #9AF4E2;
                }
                to {
                  text-shadow: 0 0 20px #C1F4EA, 0 0 25px #A8F4E5, 0 0 30px #A8F4E5, 0 0 35px #A8F4E5, 0 0 60px #A8F4E5, 0 0 40px #A8F4E5, 0 0 45px #A8F4E5;
                }
              }
        }
    }
}


